.frame {
  position: absolute;
  top: 0;
  left: -9px;
  width: 1656px;
  height: 1320px;
  overflow: hidden;
}
.desktop-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2148px;
  overflow: hidden;
}
