.zam-nungaray-acw3b7q6ys0-unspl-icon {
  position: absolute;
  top: 138px;
  left: 615px;
  width: 304px;
  height: 322px;
  object-fit: cover;
}
.philipp-arlt-8eyb-rvawty-unspl-icon,
.philipp-arlt-nmh9a0obon8-unspl-icon {
  position: absolute;
  top: 138px;
  left: 1276px;
  width: 304px;
  height: 322px;
  object-fit: cover;
}
.philipp-arlt-8eyb-rvawty-unspl-icon {
  left: 279px;
  width: 310px;
}
.lorem-ipsum-dolor3 {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: 90px;
  font-weight: 600;
  font-family: Syne;
  display: inline-block;
  width: 689px;
  height: 151px;
}
.accessories,
.apparel {
  position: absolute;
  top: 139px;
  left: 24px;
}
.accessories {
  top: 183px;
  font-size: 26px;
  font-weight: 600;
  font-family: Syne;
}
.best-sellers,
.group-icon,
.off {
  position: absolute;
  top: 234px;
  left: 24px;
}
.group-icon,
.off {
  top: 278px;
}
.group-icon {
  top: 94px;
  left: 0;
  width: 659px;
  height: 22px;
}
.arrow-icon,
.frame-child2 {
  position: absolute;
  top: 62.11px;
  left: 1213.5px;
  width: 55.5px;
  height: 5.77px;
}
.frame-child2 {
  left: 1111px;
}
.malicki-m-beser-pkmvkg7vnuo-un-icon {
  position: absolute;
  top: 138px;
  left: 945px;
  width: 305px;
  height: 322px;
  object-fit: cover;
}
.frame21,
.frame22 {
  position: absolute;
  top: 0;
  left: 76px;
  width: 1580px;
  height: 460px;
  overflow: hidden;
}
.frame21 {
  top: 860px;
  left: 0;
  width: 1656px;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: "Work Sans";
}
